*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

html, body{
  height: 100vh;
  width: 100vw;
  background-color: #111;
}

.parent{
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.card{
  margin: 20px;
  width: 250px;
  /* display: inline-block; */
  border: 2px solid white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  background-color: #222;
}

.card p{
  margin: 20px 0px;
}

.card img{
  height: 80px;
  width: 80px;
  object-fit: cover;
  border-radius: 50%;
}

.card button{
  padding: 5px 10px;
  background-color: white;
  color: black;
  border: none;
  border-radius: 5px;
}