*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html, body{
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  overflow-x: hidden;
}

.parent{
  height: 100%;
  width: 100%;
  background-color: #111;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  /* justify-content: space-evenly; */

}
.card{
  height: 250px;
  width: 195px;
  background-color: #fff;
  border-radius: 30px;
  padding: 20px 18px;
  display: flex;
  
  flex-direction: column;
  justify-content: space-between;
  
}

.card .top{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.top img{
  height: 30px;
  border-radius: 50%;
  width: 30px;
  border: 1px solid #dadada;
  padding: 3px;
}

.top button{
  display: flex;
  align-items: center;
  border: 1px solid #dadada;
  padding: 4px 8px;
  font-size: 12px;
  border-radius: 5px;
  gap: 3px;
  background-color: transparent;
  color: #b1b1b1;
}

.button{
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #b1b1b1;
  padding-top: 15px;
  
}

.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top:1px solid #b1b1b1;
 padding-top: 10px;

}


.center{
  /* background-color: red; */
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.center h3{
  font-size: 11px;
  font-weight: 500;
}

.center h3 span{
  font-size: 7px;
  font-weight: 400;
  color: #8b8b8b;
}

.center h2{
  font-size: 12px;

}

.center .tags{
  display: flex;
  gap: 10px;
  font-size: 8px;
  
  
  
}

.center .tags .tag{
  background-color: #ecdede;
  border-radius: 2px;
  padding: 3px 5px;
}

.bottom h3{
  font-size: 15px;
}

.bottom p{
  font-size: 8px;
  opacity: 70%;
}

.bottom button{
  background-color: #0e0e0e;
  color: white;
  padding: 3px 5px;
  border-radius: 4px;
  border: none;
}
